<div id="header">
    <div class="headerButtonContainer">
        <a href="{{ url_for('index') }}">
            <div class="headerButton">Home</div>
        </a>
        <a href="{{ url_for('projects') }}">
            <div class="headerButton">Projects</div>
        </a>
        <a href="{{ url_for('games') }}">
            <div class="headerButton">Featured Games</div>
        </a>
        <a href="{{ url_for('links') }}">
            <div class="headerButton">Links</div>
        </a>
        <a href="{{ url_for('about') }}">
            <div class="headerButton">About</div>
        </a>
    </div>
</div>