{% extends "base/base.html" %}

{% block content %}
<h1>About me</h1>
<p>Hello Internet! I am a 23 year old german, who is interested in programming.</p>
<p>My name is... well... there are some wo call me... Tim!</p>
<p>I do have my knowledge from one year of university, some small personal projects and my ongoing journey as a dual student.</p>
<br>
<p>If you want to get to know me better, here are some of my profiles:</p>
<ul>
    <li><a href="https://github.com/Flash3r01">GitHub</a></li>
    <li><a href="https://steamcommunity.com/profiles/76561198046687016/">Steam</a></li>
    <li><a href="https://youtu.be/5d5NJgO38AE?t=361">Club Penguin</a></li>
</ul>
{% endblock content %}