<div id="header">
    <div>Header</div>
    <a href="{{ url_for('templates', filename='index.html') }}">
        <div class="headerButton">Home</div>
    </a>
    <a href="{{ url_for('templates', filename='projects.html') }}">
    <div class="headerButton">Projects</div>
    </a>
    <a href="{{ url_for('templates', filename='games.html') }}">
    <div class="headerButton">Featured Games</div>
    </a>
    <a href="{{ url_for('templates', filename='links.html') }}">
    <div class="headerButton">Links</div>
    </a>
    <a href="{{ url_for('templates', filename='about.html') }}">
    <div class="headerButton">About</div>
    </a>
</div>