{% extends "base/base.html" %}

{% block content %}
<h1>Under Construction</h1>
<p>The monkes are scratching their asses, because they are lazy bonobos 🐒</p>
<br>
<h2>External Links</h2>
<ul>
    <li><a href="https://www.youtube.com/channel/UCbfYPyITQ-7l4upoX8nvctg">Two Minute Papers</a> - Interesting computer science papers summarized</li>
    <li><a href="https://eater.net/">Ben Eater</a> - Various computer science projects and topics</li>
    <li><a href="https://inspirobot.me/">Inspirobot</a> - Inspirational quotes generator</li>
</ul>
{% endblock content %}